@{
    ViewData["Title"] = "Home Page";
}

<style>
	.text-center {
		text-align: center;
	}

	#container {
		margin-top: 20px;
	}

	#bookTable {
		width: 100%;
		border-collapse: collapse;
	}

	thead {
		font-weight: bold;
		background-color: azure;
	}

		#bookTable th,
		#bookTable td {
			padding: 8px;
			border: 1px solid #ddd;
		}

		#bookTable th {
			background-color: #f2f2f2;
			font-weight: bold;
		}

	#deleteButton {
		background-color: #ff0000;
		color: #fff;
		padding: 5px 10px;
		border: none;
		cursor: pointer;
	}

		#deleteButton:hover {
			background-color: #cc0000;
		}

	#editButton {
		background-color: #3366cc;
		color: #fff;
		padding: 5px 10px;
		border: none;
		cursor: pointer;
	}

		#editButton:hover {
			background-color: #225599;
		}

	#addButton {
		background-color: #28a745;
		color: #fff;
		padding: 5px 10px;
		border: none;
		cursor: pointer;
	}

		#addButton:hover {
			background-color: #218838;
		}



	.modal {
		display: block;
		position: fixed;
		z-index: 9999;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.modal-content {
		background-color: #fefefe;
		margin: 10% auto;
		padding: 20px;
		border: 1px solid #888;
		width: 60%;
		max-width: 500px;
	}

		.modal-content label {
			display: block;
			margin-bottom: 10px;
			font-weight: bold;
		}

		.modal-content input {
			width: 100%;
			padding: 5px;
			margin-bottom: 10px;
		}

		.modal-content .close {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 20px;
			font-weight: bold;
			border: none;
			background-color: transparent;
			cursor: pointer;
		}

		.close:hover {
			color: red;
		}

	.save {
		background-color: #4CAF50;
		color: white;
		padding: 8px 16px;
		border: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: bold;
	}

		.save:hover {
			background-color: #45a049;
		}

	.pagination {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	.page-link {
		padding: 8px 12px;
		text-decoration: none;
		color: #333;
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		border-radius: 4px;
		margin: 0 4px;
	}

		.page-link:hover {
			background-color: #e0e0e0;
		}

		.page-link:first-child {
			margin-left: 0;
		}

		.page-link:last-child {
			margin-right: 0;
		}

	#searchBar {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
	}

		#searchBar label {
			padding: 5px;
			border: 1px solid #ccc;
			background-color: lightyellow;
			border-radius: 4px;
			margin-right: 10px;
		}

		#searchBar input[type="text"] {
			width: 200px;
			padding: 5px;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

</style>

<div class="text-center">
	<div id="container">
		<h2>Edit Books</h2>
		<div id="searchBar">
			<label for="searchInput">Search:</label>
			<input type="text" id="searchInput">
		</div>
		<table class="table table-striped table-bordered" id="bookTable">
			<thead>
				<tr>
					<td>Title</td>
					<td>Author</td>
					<td>Price</td>
					<td>Press</td>
					<td>Category</td>
					<td>ISBN</td>
					<td>City</td>
					<td>Street</td>
					<td>Edit</td>
					<td>Delete</td>
				</tr>
			</thead>
			<tbody id="dataContainer">

			</tbody>
		</table>
		<div class="pagination" id="paginationItem">
		</div>

	</div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

<script>
	var books = [];
	var presses = [];
	var addresses = [];
	var pageSize = 5;
	var pageIndex = 0;

	$(document).ready(function () {
		
		$.ajax({
			url: "https://localhost:7130/odata/Book",
			type: "GET",
			dataType: "json",
			headers : {
				"Authorization": localStorage.getItem("jwtToken")
			},
			data: {"$expand": "Press,Address"},
			success: function (data) {
				data.value.forEach(function (book) {
					books.push(book);
				});

				AppendPagination(books.length);
				AppendTable(books, 0);
			},
			error: function (xhr, status, error) {
				alert(error);
			}
		});

		$.ajax({
			url: "https://localhost:7130/odata/Press",
			type: "GET",
			dataType: "json",
			headers: {
				"Authorization": localStorage.getItem("jwtToken")
			},
			success: function (data) {
				data.value.forEach(function (press) {
					presses.push(press);
				});
			},
			error: function (xhr, status, error) {
				alert(error);
			}
		});

		$.ajax({
			url: "https://localhost:7130/odata/Address",
			type: "GET",
			dataType: "json",
			headers: {
				"Authorization": localStorage.getItem("jwtToken")
			},
			success: function (data) {
				data.value.forEach(function (address) {
					addresses.push(address);
				});
			},
			error: function (xhr, status, error) {
				alert(error);
			}
		});

		$('#searchInput').on('keyup', function () {
			var value = $(this).val().toLowerCase();
			
			var filteredBooks = books.filter(function (book) {
				return book.Title.toLowerCase().indexOf(value) > -1 || book.Author.toLowerCase().indexOf(value) > -1 || book.Press.Name.toLowerCase().indexOf(value) > -1 || book.Press.Category.toLowerCase().indexOf(value) > -1 || book.ISBN.toLowerCase().indexOf(value) > -1 || book.Address.City.toLowerCase().indexOf(value) > -1 || book.Address.Street.toLowerCase().indexOf(value) > -1;
			});

			AppendPagination(filteredBooks.length);
			AppendTable(filteredBooks, 0);
		});

	});

	function AppendTable(books, currentPageIndex){
		
		var slicedBooks = books.slice(currentPageIndex * pageSize, currentPageIndex * pageSize + pageSize);

		$('#dataContainer').empty();

		slicedBooks.forEach(function (book) {

			var newRow = $('<tr>');

			newRow.append($('<td>').text(book.Title));
			newRow.append($('<td>').text(book.Author));
			newRow.append($('<td>').text(book.Price));
			newRow.append($('<td>').text(book.Press.Name));
			newRow.append($('<td>').text(book.Press.Category));
			newRow.append($('<td>').text(book.ISBN));
			newRow.append($('<td>').text(book.Address.City));
			newRow.append($('<td>').text(book.Address.Street));
			
			var editButtonCell = $('<td>');
			
			editButtonCell.append($('<button>').text('Edit').attr('id', 'editButton').click(function () {
				editModal(book);
			}));

			newRow.append(editButtonCell);

			var deleteButtonCell = $('<td>');
			deleteButtonCell.append($('<button>').text('Delete').attr('id', 'deleteButton').click(function () {

				if (confirm("Are you sure?")) {

					$.ajax({
						url: "https://localhost:7130/odata/Book" + "/" + book.ID,
						type: "DELETE",
						dataType: "json",
						contentType: "application/json; charset=utf-8",
						headers: {
							"Authorization": localStorage.getItem("jwtToken")
						},
						success: function (data) {
							if (data.status) {
								alert("Remove Successfully");
								window.location.reload();
							} else {
								alert(data.errorMessage);
							}
						},
						error: function (data) {
							alert(data.errorMessage);
						}
					});

				}

			}));

			newRow.append(deleteButtonCell);

			$('#dataContainer').append(newRow);

		});

		var addRow = $('<tr>');

		addRow.append($('<td>').append($('<button>').text('Add').attr('id', 'addButton')));

		addRow.click(function () {
			addBookModal();
		});

		$('#dataContainer').append(addRow);
	}

	function addBookModal(){
		var addModal = $('<div>').addClass('modal');

		var addModalContent = $('<div>').addClass('modal-content');

		var addCloseButton = $('<span>').addClass('close').text('×').click(function () {
			addModal.remove();
		});

		addModalContent.append(addCloseButton);

		var titleInputForAdd = $('<input>').attr('type', 'text').attr('id', 'titleInputForAdd');
		var authorInputForAdd = $('<input>').attr('type', 'text').attr('id', 'authorInputForAdd');
		var priceInputForAdd = $('<input>').attr('type', 'number').attr('id', 'priceInputForAdd');
		var ISBNInputForAdd = $('<input>').attr('type', 'text').attr('id', 'ISBNInputForAdd');
		var pressInputForAdd = $('<select>').attr('id', 'pressInputForAdd');
		var addressInputForAdd = $('<select>').attr('id', 'addressInputForAdd');

		for (var i = 0; i < presses.length; i++) {
			var option = $('<option>').attr('value', presses[i].ID).text(presses[i].Name + ' - ' + presses[i].Category);
			if (i == 0) {
				option.attr('selected', 'selected');
			}
			pressInputForAdd.append(option);
		};

		for (var j = 0; j < addresses.length; j++) {
			var option = $('<option>').attr('value', addresses[j].City).text(addresses[j].City + ' - ' + addresses[j].Street);
			if (j == 0) {
				option.attr('selected', 'selected');
			}
			addressInputForAdd.append(option);
		};

		addModalContent.append($('<label>').text('Title:').append(titleInputForAdd));
		addModalContent.append($('<label>').text('Author:').append(authorInputForAdd));
		addModalContent.append($('<label>').text('Price:').append(priceInputForAdd));
		addModalContent.append($('<label>').text('ISBN:').append(ISBNInputForAdd));
		addModalContent.append($('<label>').text('Press:').append(pressInputForAdd))
		addModalContent.append($('<label>').text('Address:').append(addressInputForAdd));

		addModal.append(addModalContent);


		var saveButton = $('<button>').addClass('save').text('Save').click(function () {

			newBook = {
				ID : "2dfe52c0-bda8-4b0c-b60f-a401f7590c88",
				Title: $('#titleInputForAdd').val(),
				Author: $('#authorInputForAdd').val(),
				Price: $('#priceInputForAdd').val(),
				ISBN: $('#ISBNInputForAdd').val(),
				PressId: $('#pressInputForAdd').val(),
				AddressCity: $('#addressInputForAdd').val()
			};

			var dataToSend = JSON.stringify(newBook);

			$.ajax({

				url: "https://localhost:7130/odata/Book",
				type: "POST",
				headers: {
					"Authorization": localStorage.getItem("jwtToken")
				},
				dataType: "json",
				contentType: "application/json",
				data: dataToSend,
				success: function (data) {
					if (data.status) {
						alert("Saved");
						window.location.reload();
					} else {
						alert(data.errorMessage);
					}
				}, error: function (error) {
					alert(error);
				}

			});
		});


		addModalContent.append(saveButton);


		$('#container').append(addModal);
	}

	function editModal(book){

			var modal = $('<div>').addClass('modal');

			var modalContent = $('<div>').addClass('modal-content');

			var closeButton = $('<span>').addClass('close').text('×').click(function () {
				modal.remove();
			});

			modalContent.append(closeButton);

			var titleInput = $('<input>').attr('type', 'text').attr('id', 'titleInput').val(book.Title);
			var authorInput = $('<input>').attr('type', 'text').attr('id', 'authorInput').val(book.Author);
			var priceInput = $('<input>').attr('type', 'number').attr('id', 'priceInput').val(book.Price);
			var ISBNInput = $('<input>').attr('type', 'text').attr('id', 'ISBNInput').val(book.ISBN);
			var addressInput = $('<select>').attr('id', 'addressInput');
			
			var pressInput = $('<select>').attr('id', 'pressInput');

			for(var i = 0; i < presses.length; i++) {
			var option = $('<option>').attr('value', presses[i].ID).text(presses[i].Name + ' - ' + presses[i].Category);
				if (i == 0) {
					option.attr('selected', 'selected');
				}
				pressInput.append(option);
			};

			for (var j = 0; j < addresses.length; j++) {
				var option = $('<option>').attr('value', addresses[j].City).text(addresses[j].City + ' - ' + addresses[j].Street);
				if (j == 0) {
					option.attr('selected', 'selected');
				}
				addressInput.append(option);
			};

			modalContent.append($('<label>').text('Title:').append(titleInput));
			modalContent.append($('<label>').text('Author:').append(authorInput));
			modalContent.append($('<label>').text('Price:').append(priceInput));
			modalContent.append($('<label>').text('ISBN:').append(ISBNInput));
			modalContent.append($('<label>').text('Press:').append(pressInput));
			modalContent.append($('<label>').text('Address:').append(addressInput));

			modal.append(modalContent);

			var saveButton = $('<button>').addClass('save').text('Save').click(function () {

				book.Title = $('#titleInput').val();
				book.Author = $('#authorInput').val();
				book.Price = $('#priceInput').val();
				book.ISBN = $('#ISBNInput').val();
				book.PressId = $('#pressInput').val();
				book.AddressCity = $('#addressInput').val();

				var dataToSend = JSON.stringify(book);

				$.ajax({

					url: "https://localhost:7130/odata/Book",
					type: "PATCH",
					headers: {
						"Authorization": localStorage.getItem("jwtToken")
					},
					dataType: "json",
					contentType: "application/json",
					data: dataToSend,
					success: function (data) {
						if (data.status) {
							alert("Saved");
							window.location.reload();
						} else {
							alert(data.errorMessage);
						}
					}, error: function (error) {
						alert(error);
					}

				});
			});

			modalContent.append(saveButton);

			console.log(modal);
			$('#container').append(modal);
	}

	function AppendPagination(count){

		$('#paginationItem').empty();

		var numOfPage = Math.ceil(count / pageSize);

		var prev = $('<button>').addClass('page-link').text('<').click(function () {
			if(pageIndex > 0){
				pageIndex--;
				AppendTable(books, pageIndex);
			}
		});

		$('#paginationItem').append(prev);

		for (var i = 0; i < numOfPage; i++) {
			(function (index) {
				var page = $('<button>').addClass('page-link').text(index + 1).click(function () {
					pageIndex = index;
					AppendTable(books, index);
				});

				$('#paginationItem').append(page);
			})(i);
		}


		var next = $('<button>').addClass('page-link').text('>').click(function () {
			if (pageIndex < numOfPage) {
				pageIndex++;
				AppendTable(books, pageIndex);
			}
		});

		$('#paginationItem').append(next);
		
	}
</script>
